<div>
	<form
		novalidate
		name="todoNewForm"
		class="todo-new-form"
		ng-submit="$ctrl.submitForm(todoNewForm.$valid)"
	>
		<label>Description</label>
		<input
			name="description"
			class="description"
			ng-model="$ctrl.newTodo.description"
			required
			ng-minlength="5"
		/>
		<span
			ng-show="$ctrl.submitted && todoNewForm.description.$error.required"
			class="validation-error"
		>
			Description is required.
		</span>
		<span
			ng-show="$ctrl.submitted && todoNewForm.description.$error.minlength"
			class="validation-error"
		>
			Description is too short (min 5 symbols).
		</span>
		<input
			type="submit"
			value="Add"
			class="submit"
		/>
	</form>
</div>