.todo-filters {
	margin: 10px 0;
}

.todo-list-header .checkbox {
	width: 20px;
    display: inline-block;
}

.todo-list-header .created {
	width: 100px;
    display: inline-block;
}

.todo-list-header .description {
	width: 200px;
    display: inline-block;
}