<div ng-class="{'editing': $ctrl.editing, 'completed': $ctrl.completed}">
	<div 
		class="view" 
		ng-dblclick="$ctrl.enableEditing()"
	>
	  <input
			class="toggle"
			type="checkbox"
			ng-checked="$ctrl.completed"
			ng-click="$ctrl.toggleTodo()"
		>
		<label>
			{{$ctrl.item.createdOn.toLocaleDateString()}}
		</label>
	  	<label>
			{{$ctrl.item.description}}
		</label>
		<button 
			ui-sref="todo.edit({todoId: $ctrl.item.id})"
			class="edit" 
		>
			Edit
		</button>
		<button 
			class="delete" 
			ng-click="$ctrl.deleteTodo()"
		>
			Delete
		</button>
	</div>
</div>
  